*{
    box-sizing: border-box;
}

body{
    background-color: paleturquoise;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;

}

header{
    background-color: orangered;
    width: 1140px;

    overflow: hidden;


}

header div{
    float: left;
    padding: 5px;
}

a{
    text-decoration: none;
    color: white;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;

}

.logo{
    padding-top: 15px;
    padding-left: 10px;
}

.categorias{
    padding-top: 24px;

}

.login-registro{
    float: right;
    padding-top: 24px;

}

section{
    background-color: white;
}

aside{
    float: left;
    width: 320px;

}

aside h2{
    background-color: white;
}

section article a{
    background-color: orangered;
    color: white;
}

.tutoriales{
    
}

.tutoriales article{
    border-bottom: 10px solid paleturquoise;
    float: left;
    width: 100%;
    padding: 10px;
}

.tutoriales img{
    float: left;
    margin-right: 10px;
}

.productos{
    width: 800px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;

}


.productos article{
    width: 50%;
    padding: 10px;
    float: left;
}

.productos img{
    width: 100%;
}

.publicidad article{
    width: 100%;
    padding: 10px;
}

h2.aside-titulo{
    padding: 10px;


}

.container{
    width: 1140px;
    margin: 0 auto;
}


form{
    width: 350px;
    margin: 0 auto;
    


    
}

.formulario-login{
    width: 1140px;
    align-items: center;
    overflow: hidden;


}

.recordarme{
    text-align: right;
}


.alerta{
    color: orangered;
    font-size: 12px;
}


.boton{
    display: inline-block;
    padding: 10px;
    background-color: turquoise;
    border-radius: 10%;
    color: white;
}

h1{
    text-align: center;
    margin: 30px;
}



