*{
    box-sizing: border-box;
}

body{
    background-image: url(../images/bg-2.png);
    font-family: Arial, Helvetica, sans-serif;
}

header{
    overflow: hidden;
    background-color: orangered;
    width: 1140px;
    margin-bottom: 20px;
}

header div{
    float: left;
    padding: 5px;
    padding-top: 24px;
}

a{
    text-decoration: none;
    color: white;
    padding: 5px;
}

.logo{
    padding-top: 15px;
    padding-left: 10px;
}

.login-registro{
    float: right;
}

.container{
    width: 1140px;
    margin: 0 auto;
}

section{
    background-color: white;
}

aside{
    float: left;
    width: 320px;
}

h2.aside-titulo{
    background-color: white;
    padding: 10px;
    margin-top: 0px;
}


section article a{
    background-color: orangered;
    color: white;
}

section.tutoriales{
    height: 424px;
    margin-bottom: 20px;

}


.tutoriales article{
    float: left;
    background-color: white;
    border-bottom: 1px solid turquoise;
    width: 100%;
    padding: 10px;
}

.tutoriales img{
    float: left;
    margin-right: 10px;
}

.productos{
    float: left;
    width: 800px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 0px;
}

.productos article{
    float: left;
    width: 50%;
    padding: 10px;
}

.productos img{
    width: 100%;
}

.publicidad article{
    width: 100%;
    padding: 10px;
}



form{
    width: 350px;
    margin: 0 auto;
}

.formulario-login{
    width: 1140px;
}

.recordarme{
    text-align: right;
}

.alerta{
    color: orangered;
    font-size: 12px;
}

.boton{
    padding: 10px;
    background-color: #3c8dbc;
    border-radius: 10%;
    color: white;
}

h1{
    text-align: center;
    margin: 30px;
}

input#email{
    width: 100%;
}

input#password{
    width: 100%;
}

input#name{
    width: 100%;
}

a.detalle{
    display: inline-block;
    padding: 10px;
}



